body {
  background: #FFA17F;
  background: linear-gradient(
    to top,
    #FFA17F,#00223E
  )
}

a {
  color: #00223E;
  font-family: "Poppins";
}

.App {
  max-width: 700px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App main {
  margin: 30px 0;
}

.App-logo {
  color: #00223E;
  max-width: 50px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  font-family: "Poppins";
  color: #00223E;
  text-align: center;
  margin: 30px 0;
}