body {
  background: #FFA17F;
  background: linear-gradient(
    to right,
    #FFA17F,#00223E
  );
}

a {
  color: white;
  font-family: "Poppins";
}

.App {
  max-width: 700px;
  margin: 0 auto;
}

.App main {
  margin: 30px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-footer {
  font-family: "Poppins";
  text-align: center;
  margin: 30px 0;
}