.Meaning h3 {
  padding: 5px;
  font-size: 24px;
  line-height: 1.5;
  font-family: "Poppins";
  color: #C04848;
}

.Meaning .example {
  color:#C04848;
  font-family: "Poppins";
  font-style: italic;
  margin-top: 10px;
}